$body-padding: 32px;
$global-font-family: 'Metropolis', 'Helvetica Neue', Arial, sans-serif;

$main-gradient: linear-gradient(
  to right,
  var(--green),
  var(--purple),
  var(--purple),
  var(--green)
);

:root {
  --bg: #f2f5f7;
  --green: #67e8b4;
  --blue: #86A5DA;
  --purple: #A565ff;
  --text: #4a4d5a;
  --text-light: #757781;

  ----d-very-fast: 100ms ease-in-out;
  --d-fast: 200ms ease-in-out;
}


